* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: url('Images/login_bg.png') no-repeat;
    background-size: cover;
}

.header {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.left {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
}

.top-margin {
    margin-bottom: 40px;
    margin-top: 215px;
    text-align: center;
    width: 100%;
}

.large-text {
    color: white;
    font-size: 54px;
    margin: 0;
}

.right {
    align-items: center;
    background-color: white;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo-container img {
    width: 120px; 
    height: auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 15px 45px 15px 20px;
}

.input-box input::placeholder {
    color: gray;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

/* Adjust OTP input field and button */
#otp {
    width: 60%; /* Make OTP field smaller */
}

.otp-button {
    margin-left: 10px;
    padding: 12px 15px;
    border: none;
    background-color: darkgreen;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    
}

.otp-button:hover {
    background-color: #4CAF50;
}

.button-container {
    text-align: center; 
    margin-top: 20px;
}

.btnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: darkgreen; 
    border: none;
    outline: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btnSubmit:hover {
    background: #4CAF50;
}

.btn-icon {
    width: 25px; 
    height: 25px;
}

.line {
    background-color: black; /* Makes the line visible */
    height: 2px; /* Increase thickness */
    width: 100%; /* Adjust width to match the form */
    margin: 15px auto; /* Center and add spacing */
}
